<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('cancel') }}">
        <i class="fa fa-recycle" aria-hidden="true"></i>
        {{ 'action.cancel'|trans({}, 'messages') }}
    </a>
</li>
