<li>
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('preview', object) }}">
        <i class="far fa-grin-tongue-wink" aria-hidden="true"></i>
        {{ 'action.preview'|trans({}, 'messages') }}
    </a>
</li>
