/var/cache/*
!/var/cache/.gitignore
/var/log/*
!/var/log/.gitignore
/public/bundles/*
!/public/bundles/.gitkeep
/public/vendor
!/public/vendor/.gitignore

# Images Character
public/images/characters/*
!public/images/characters/.gitignore
!public/images/characters/default/*

# Images Locales
public/images/locales/*
!public/images/locales/.gitignore
!public/images/locales/default/*

# Images References
public/images/concepts/*
!public/images/concepts/.gitignore
!public/images/concepts/default/*

# Images KeyItems
public/images/key-items/*
!public/images/key-items/.gitignore
!public/images/key-items/default/*

/src/Repository
/vendor/
.phpunit
*.backup
*.cache
*~
*.ori
/.env.*.local
/.env.local
/.web-server-pid
.idea
