.image_list {
    max-height: 25px;
}

.image_show {
    max-height: 250px;
}

/* .form-inline {
    display: inline-block;
    max-width: 100px;
} */

.extended_date_widget {
    display: block;
    min-height: 50px;
}

.sonata-cell {
    text-align: left !important;
}
.anno_domini > div > label > span {
    font-size: 10px !important;
}

.pad-right {
    padding-right: 20px;
}

.title-case {
    text-transform: capitalize !important;
}
