server {
	listen 80;
	listen [::]:80;
	server_name cwc.local;
	return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name cwc.local;
    root /home/devaneando/Projects/CWCompanion/public;

    ssl_certificate /home/devaneando/Projects/CWCompanion/docs/Nginx/CWCompanion.crt;
    ssl_certificate_key /home/devaneando/Projects/CWCompanion/docs/Nginx/CWCompanion.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    keepalive_timeout 70;

    location /static {
        autoindex on;
    }

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    error_log /home/devaneando/Projects/CWCompanion/var/log/error.nginx.log;
    access_log /home/devaneando/Projects/CWCompanion/var/log/access.nginx.log;
}
