<a  href="{{ admin.generateObjectUrl('preview', object) }}"
    class="btn btn-sm btn-default view_link"
    title="{{ 'action.preview'|trans({}, 'messages') }}">
    <i class="fa fa-recycle" aria-hidden="true"></i>
    {{ 'action.preview'|trans({}, 'messages') }}
</a>
